body{
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times,
     'Times New Roman', serif;
     background:conic-gradient(from -270deg at 75% 110%, 
     fuchsia, floralwhite) ;
}

.container{
    /* border: 2px solid black; */

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator{
    /* border: 2px solid red; */

    background-color: whitesmoke;
    border-radius: 5px;
    width: 400px;
    margin: auto;
    padding: 0 25px;
    font-size: 1rem;
    /* The font-weight property sets how thick or thin 
    characters in text should be displayed. */
    font-weight: 100;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0.5); 
}

.calculator input{
    box-sizing: border-box;
    width: 90%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.calculator button{
    width: 10%;
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: whitesmokeb;

}

.calculator button:hover{
    background-color: rgb(0, 0, 0,0.2);
}

#quality{
    width: 100%;
    padding: 8px;
    outline: none;
    border-radius: 5px;
    border: 1px solid lightgray;
}


/* Create a container that holds the little 
message that's going to pop up when you 
click on the calculate button*/

/* It's going to display how much you owe */

/* Create it & hide it - Don't wanna display 
it on the screen */

/* Display it when we click the calculate button */

#tip-amount{
    visibility: hidden;
    /* border: 2px solid green; */
    min-width: 250px;
    margin: auto;
    background-color: limegreen;
    color: white;
    bottom: 30px;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;

    /* Z -index bring things forward or push
    them back on the page */

    /* z-index: 1; */
}



/* A class we are  going to create with JS */

/* We only want to display that tip-amount
whenever we tell it to */

#tip-amount.show{
    visibility: visible;
    -webkit-animation:fadein 0.5s, fadeout 0.5s 2.5s ;
    animation:fadein 0.5s, fadeout 0.5s 2.5s ;
}

@-webkit-keyframes fadein{
    from{bottom: 0; opacity: 0;}
    to{bottom: 30px; opacity: 1;}
}
@keyframes fadein{
    from{bottom: 0; opacity: 0;}
    to{bottom: 30px; opacity: 1;}
}
@-webkit-keyframes fadeout{
    from{bottom: 30px; opacity: 1;}
    to{bottom: 0; opacity: 0;}
    
}
@keyframes fadeout{
    from{bottom: 30px; opacity: 1;}
    to{bottom: 0; opacity: 0;}
    
}


@media(max-width:480px){
    .calculator input{
        width: 85%;
    }
    .calculator button{
        width: 15%;
    }
}
@media(max-width:320px){
    .calculator input{
        width: 80%;
    }
}