@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Fredoka", sans-serif;
    background-image: linear-gradient(to right, pink,white, silver);
    color: #333333;
}

.container{
    /* border: 1px solid black; */
    width: 95%;
    margin: auto;
}

.nav{
    /* border: yellowgreen solid 4px; */
    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100% ;
    margin: 25px 0;
}

.nav h2{
    font-size: 2rem;
}

.user-input{
    /* border: 2px blue solid; */
    width: 350px;
    text-align: center;
}

.user-input input{
    width: 80%;
    outline: none;
    padding: 8px;
    border: 1px solid pink;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;

    /* When you click the input box,
    it's going to be highlighted
    (not automatically)
    Accounts for all browsers*/
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    transition:all 0.30s ease-in-out;
}

.user-input input:focus{
    box-shadow: 2px 0px 2px #e22865;
    border: 1px solid #e22865;
}

.user-input button{
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    transition: 1s;
    outline: none;
    background-color: #e22865;
    border: 1px solid pink;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.user-input button:hover{
    background-color: transparent;
    color: white;
}

.to-do-items{
    /* E`border: #e22865 solid 1px; */
    width: 500px;
}

.item{
    background-color: rgb(158, 95, 104);
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: gold;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition:all 0.30s ease-in-out;
    -o-transition:all 0.30s ease-in-out;
    transition:all 0.30s ease-in-out;
}

.item:hover{
    box-shadow: 0 0 10px #e22865;
    border: 1px solid #e22865;
}

 
.item i{
    cursor: pointer;
    margin: 0 5px;
}

@media(max-width:768px){
    .nav{
        align-items: center;
        flex-direction: column;
    }
    .nav h2{
        margin: 10px 0;
    }

    .user-input{
        width: 100%;
    }

    .to-do-items{
        width: 100%;
    }
}


@media(max-width:480px){
    .user-input input{
        width: 74%;
    }
}
@media(max-width:320px){
    .user-input input{
        width: 60%;
    }
}
























